@import '../../styles/base.scss';


.form-control {
    border: 1px solid $gray-d;
    background-color: $white;
    padding: 5px;
    border-radius: 4px;
    @include font-size(16px);
    box-shadow: none;
    line-height: 1.5;
    outline: 0;
}

.form-control:focus,
.form-select:focus,
.form-control:hover,
.form-select:hover,
.form-control:active,
.form-select:active {
    box-shadow: none;
    border-color: $gray-b;
}

.form-control::-ms-input-placeholder {
    /* Edge 12-18 */
    font-family: "Roboto Condensed", sans-serif;
}

.form-control::placeholder {
    font-family: "Roboto Condensed", sans-serif;
}