@import '../../styles/base.scss';

.menuWrapper {
  background-color: $branding2;
  color: $white;
  @include padding(5px 15px);

  nav {
    ul {
      display: flex;
      align-items: center;

      li {
        text-transform: uppercase;

        a {
          font-weight: 700;
          @include padding(5px 15px);
          color: $white;
          display: flex;
          @include font-size(14px);
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: 0;
            background: $white;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            display: none;
          }

          &:hover {
            &:after {
              left: 0;
              right: 0;
              height: 2px;
            }
          }

          &.active {
            &:after {
              left: 0;
              right: 0;
              height: 2px;
            }
          }
        }

        // &:first-child {
        //   a {
        //     padding-left: 0;
        //   }
        // }
      }
    }
  }
}

.main {
  display: flex;
  @include margin-top(5px);

  @include media-breakpoint-down(xl) {
    flex-wrap: wrap;
    margin: 0;
  }
}

.sideBar {
  padding: 0;
  width: 240px;

  @include media-breakpoint-between(xl, xxl) {
    width: 210px;
  }

  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.content {
  width: calc(100% - 240px);
  @include padding(0 5px);

  @include media-breakpoint-between(xl, xxl) {
    width: calc(100% - 210px);
  }

  @include media-breakpoint-down(xl) {
    width: 100%;
  }
}

.liveEvents {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  background-color: $branding1;
  @include padding(0 5px 5px);
}

.customLinks {
  background-color: $branding1;
  border-bottom: 0;
  box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      @include padding(10px 0);
      flex: auto;

      a {
        color: $white;
        border-right: 1px solid $white;
        @include padding(0 8px);
        font-weight: bold;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}