// src\styles\abstracts\_variables.scss

$branding1: #b71c1c !default;
$branding-light: #2F1F30 !default;
$branding1-1: #e1fff1 !default;
$branding2: #384b5e !default;
$branding2-light: #9143fe !default;
$branding2-1: #f6f0ff !default;
$branding3: #373636d6 !default;
$branding3-1: #fffddd !default;
$branding3-light: #7399DC !default;


$white: #fff !default;
$black: #000 !default;
$dark-gray: #333 !default;
$xlt-gray: #f7f7f7 !default;
$gray-c: #ced4da !default;
$gray-b: #bbb !default;
$gray-d: #dbdbdb !default;
$blue-v: #556575 !default;
$gray-e: #e9ecef !default;
$gray-b: #b5b5b5 !default;
$gray-600: #666666 !default;
$gray-900: #999999 !default;
$green-lt: #097c93 !default;
$blue-lt: #0088cca5 !default;
$green: #087f23 !default;
$purple: #883997 !default;