//font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap');

// Abstracts
@import "~rfs/scss";
@import './abstracts/variables';
@import './abstracts/icomoon';
@import '~bootstrap/scss/bootstrap';


body {
  color: $black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  @include font-size(16px);
  cursor: default;

  @include media-breakpoint-down(md) {
    @include font-size(12px);
  }
}

li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header CSS */
* {
  box-sizing: border-box;
}

h1,
.h1 {
  @include font-size(26px);
  font-weight: 700;
  margin: 0
}

h2,
.h2 {
  @include font-size(24px);
  font-weight: 700;
  margin: 0
}

h3,
.h3 {
  @include font-size(22px);
  font-weight: 700;
  margin: 0
}

h4,
.h4 {
  @include font-size(20px);
  font-weight: 400;
  margin: 0
}

h5,
.h5 {
  @include font-size(18px);
  font-weight: 400;
  margin: 0
}

h6,
.h6 {
  @include font-size(16px);
  font-weight: 400;
  margin: 0
}

a {
  text-decoration: none;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinking 300ms !important;
  -webkit-animation: blinking 300ms !important;
  background-color: #ffc01a !important;
}

@keyframes blinking {
  100% {
    background-color: #ffc01a !important;
  }
}

.moving-text:hover {
  animation-play-state: paused;
}

/* The animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: marquee 30s linear infinite;
  }
}

.bet-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $xlt-gray;
  align-content: flex-start;

  @include media-breakpoint-down(xl) {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    @include padding(10px);
  }
}

.form-control,
.form-select {
    background-color: $white !important;
    color: $black !important;
    border-color: $gray-d !important;
    padding: 5px;
}

.form-control:focus,
.form-select:focus,
.form-control:hover,
.form-select:hover,
.form-control:active,
.form-select:active {
    box-shadow: none;
    border-color: $gray-b !important;
}

/*Table*/

.table {
  background-color: $xlt-gray;
  color: $dark-gray;
  margin-bottom: 0;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: $gray-c;
}

.table tbody th {
  background-color: $gray-c;
}

.table tbody tr {
  background-color: $gray-c;
  border-color: $gray-c;
}

.form-check-input:checked {
  background-color: $branding2;
  border-color: $branding2;
}

.table tbody {
  border: 0 !important;
}

.table th {
  font-size: 14px;
}

.table td {
  font-size: 14px;
}

.table th,
.table td {
  padding: 2px 8px;
  vertical-align: middle;
}

.table td:first-child,
.table th:first-child {
  padding-left: 10px;
}

.modal .table td,
.modal .table th {
  padding: 5px;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
}

.bet-table-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid $gray-c;
  border-top: 1px solid $gray-c;
  padding: 5px 0;

  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.bet-table-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bet-table-row {
  width: 100%;
  border-bottom: 1px solid $gray-c;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  background-color: $xlt-gray;

  @include media-breakpoint-down(xl) {
    padding-bottom: 5px;
    flex-wrap: wrap;
  }
}

.bet-nation-name {
  width: 64%;
  padding: 0 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(xl) {
    width: 100%;
  }
}

.bet-nation-name .bet-nation-game-name {
  max-width: calc(100% - 210px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $dark-gray;

  @include media-breakpoint-down(xl) {
    width: calc(100% - 120px);
  }
}

@include media-breakpoint-down(xl) {
  .bet-nation-game-name span {
    width: 100%;
    display: block;
    line-height: normal;
  }

  .bet-nation-game-name span:first-child {
    font-weight: bold;
  }

  .bet-nation-game-name span:last-child {
    font-size: 12px;
  }
}

.bet-nation-name .game-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 210px;

  @include media-breakpoint-down(xl) {
    width: 120px;
  }
}

.bet-nation-name .game-icons .game-icon {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(xl) {
    width: 20px;
  }
}

.bet-nation-name .game-icons .game-icon .active {
  background-color: #28a745;
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;


  @include media-breakpoint-down(xl) {
    height: 10px;
    width: 10px;
  }
}

.bet-nation-name .game-icons .game-icon i {
  @include media-breakpoint-down(xl) {
    font-size: 10px;
  }
}

.bet-nation-name .game-icons .game-icon img {
  height: 12px;

  @include media-breakpoint-down(xl) {
    height: 10px;
  }
}

.bet-nation-odd {
  width: 12%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;

  @include media-breakpoint-down(xl) {
    width: 33.33%;
  }
}

.bet-nation-odd .odd-box {
  width: 50%;
  padding: 1px;
}

.bet-nation-odd .odd-box .bet-odd {
  font-size: 14px;
  color: #273a47;
}

.casino-list {
  display: flex;
  flex-wrap: wrap;
}

.casino-list-item {
  width: calc(14.28% - 10px);
  width: calc(10% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;

  @include media-breakpoint-down(xl) {
    width: calc(16.66% - 10px);
  }

  @include media-breakpoint-down(md) {
    width: calc(25% - 10px);
  }
}

.casino-list-item.rect {
  width: calc(16.66% - 10px);
}

.casino-list-item .casino-list-item-banner {
  padding-top: 100%;
  background-size: cover;
  background-position: center center;
}

.casino-list-item.rect .casino-list-item-banner {
  padding-top: 53.33%;
}

.suspended-box {
  position: relative;
  pointer-events: none;
  cursor: none;
}

.suspended-box::before {
  background-image: url("../assets/svg/lock.svg");
  background-size: 17px 17px;
  filter: invert(1);
  -webkit-filter: invert(1);
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  pointer-events: none;
}

.suspended-box::after {
  content: "";
  background-color: $branding3;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.suspended-row {
  position: relative;
  /* pointer-events: none;
    cursor: none; */
}

.suspended-row::after {
  content: attr(data-title);
  background-color: $branding3;
  color: red;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.suspended-table {
  position: relative;
}

.suspended-table::after {
  content: attr(data-title);
  background-color: $branding3;
  color: red;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}


.modal-header {
  @include padding(10px);
  background: $branding1;
  color: $white;
  border-radius: 0;
  border: 0;

  .btn-close {
    filter: invert(1);
    -webkit-filter: invert(1);
    opacity: 1;
    box-shadow: none;
  }
}

.card {
  box-shadow: 0 0 5px #a4a4a4;
}

.card-body {
  padding: 10px;
}

.card-header {
  background-color: $branding2;
  color: $white;
}

.card-title {
  margin-bottom: 0;
}

/*Pagination*/

.page-link {
  color: $black;
}

.page-item.active .page-link {
  background-color: $branding2;
  border-color: $branding2;
}


.back {
  background-color: $blue !important;
}

.back1 {
  background-color: $blue-1 !important;
}

.back2 {
  background-color: $blue-2 !important;
}

.lay {
  background-color: $lay !important;
}

.lay1 {
  background-color: $lay-1 !important;
}

.lay2 {
  background-color: $lay-2 !important;
}


.btn-info {
  background-color: var(--bg-info);
  color: #fff;
  border-color: var(--bg-info);
}