@import '../../styles/base.scss';

.tabsGroup {

  .nav-tabs {
    @include margin(0 -5px 5px);
    width: calc(100% + 10px);

    @include media-breakpoint-down(xl) {
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: auto;

      li {
        flex: none;
      }
    }
  }

  .nav-tabs {
    border: none;

    .nav-item {
      margin: 0;

      button {
        background-color: $gray-c;
        color: $black;
        border-radius: 0;
        border: none;
        @include font-size(16px);
        text-align: center;
        line-height: 1;
        cursor: pointer;

        &.active {
          color: $white;
          background-color: $branding2;
        }

        @include media-breakpoint-down(xl) {
          background: none;
          color: $white;
          border-color: $branding2;
          @include font-size(12px);
          @include padding(8px 16px);
          font-weight: bold;
          text-transform: uppercase;

          &.active {
            background-color: $blue-lt;
            color: $white;
          }
        }
      }
    }
  }
}